@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Mukta', sans-serif;
    margin: 0;
}

body {
    /* background-color: #000; */
    background-color:#0f0e13;
}
/* ------------------ Gradient background ------------------ */
.gradient-bg-welcome {
    background-color:#0f0e13;
    background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
      radial-gradient(at 100% 0%, rgb(22, 139, 85) 0, transparent 50%);
  }